{{>headerlinks}}
{{>header}}
<br><br>
<h1>Users of the System</h1>
<table border="5" cellspacing="5" cellpadding="5">
    <tr id="rowone">
        
        <td>Id</td>
        <td>FirstName</td>
        <td>Lastname</td>
        <td>Email</td>
        <td>Gender</td>
        <td>phoneno</td>
        <td>age</td>
        <td>Update</td>
        <td>Delete</td>

    </tr>
    {{#each users}}
    <tr>
        <td>{{_id}}</td>
        <td>{{firstname}}</td>
        <td>{{lastname}}</td>
        <td>{{email}}</td>
        <td>{{gender}}</td>
        <td>{{phoneno}}</td>
        <td>{{age}}</td>
        <td><a href="/updateuser?id={{_id}}">Update</a></td>
        <td><a href="/deleteuser?id={{_id}}">Delete</a></td>
        
    </tr>
    {{/each}}
</table>

{{>footer}}